/* General styles */
body {
    margin: 0;
    width: 100%;
    height: max-content;
    background-image: url('../images/sr_bg.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
    padding: 0;
    overflow-x: hidden;
}

body,
html {
    margin: 0;
    padding: 0;
    height: 100%;
}

/* Container styles */
.container {
    display: flex;
    height: 100%;
}

/* Menu styles */
.container .menu {
    height: 100%;
    position: fixed;
    width: 15%;
    background-color: #ffffff00;
    backdrop-filter: blur(15px);
    left: 0;
    top: 0;
    bottom: 0;
    overflow-y: auto;
}

.menu form input {
    margin-top: 5%;
    background-color: #ffffff00;
    border: black solid 1.5px;
    border-radius: 10px;
    color: white;
    font-size: 18px;
    height: min-content;
    width: 100%;
}
/* menu */
/* menu */

/* content */
/* content */
.content{
    display: flex;
    flex-direction: column;
    width: 82%;
    margin-left: 15%;
    align-items: center;
}

.content .heading h1{
    color: white;
    text-align: center;
}
/* Receive */
.recive{
    display: flex;
    flex-direction: column;
    width: 90%;
    color: white;
    justify-content: center;
    align-items: center;margin-right: -5vw;
    border: 1.5px solid white;
    backdrop-filter: blur(4px);
    border-radius: 10px;
    margin-top: 10px;
}
.recive p{
font-size: 26px;
}
/* content */
/* content */