/* General styles */
body {
    margin: 0;
    width: 100%;
    height: max-content;
    background-image: url('../images/sr_bg.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
    padding: 0;
    overflow-x: hidden;
}

body,
html {
    margin: 0;
    padding: 0;
    height: 100%;
}

/* Container styles */

/* Menu styles */
.menu {
    height: 100%;
    position: fixed;
    width: 15%;
    background-color: #ffffff00;
    backdrop-filter: blur(15px);
    left: 0;
    top: 0;
    bottom: 0;
    overflow-y: auto;
}

.menu form input {
    margin-top: 5%;
    background-color: #ffffff00;
    border: black solid 1.5px;
    border-radius: 10px;
    color: white;
    font-size: 18px;
    height: min-content;
    width: 100%;
}

.container{
    display: flex;
    flex-direction: column;
    width: 82%;
    margin-left: 15%;
    padding-left: 20px;
}
.container h1{
    color: white;
    text-align: center;
}
/* General Segment end */

/* Table styles */
.container .transaction-table {
    margin-top: 20px;
}

.container .transaction-table table {
    width: 100%;
    border-collapse: collapse;
}

.container .transaction-table th,
.container .transaction-table td {
    border: 1px solid #ddd;
    padding: 8px;
    text-align: left;
}

.container .transaction-table th {
    background-color: #f2f2f2;
}
.container .transaction-table td {
    color: white;
}
.container .search-form {
    margin-bottom: 20px;
}
.container .search-form label
{
    color: white;
}

.container .search-form label {
    font-weight: bold;
    margin-right: 10px;
}

.container .search-form input[type="text"],
.container .search-form button {
    padding: 8px;
    border-radius: 5px;
    border: 1px solid #ccc;
}

.container .search-form button {
    background-color: #4CAF50;
    color: white;
    border: none;
    cursor: pointer;
}

